#!/bin/bash
#Date of today 
DATE=`date +%y_%m_%d_%H_%M_%S`

#liste des dossier
LISTEBDD=$( echo 'show databases' | mysql --user={{mysql_user}} --password={{mysql_password}} )

#looping on each Folder
for SQL in $LISTEBDD
do
 
if [ $SQL == "piwik" ]; then
 

mysqldump --user={{mysql_user}} --password={{mysql_password}} $SQL | gzip > /home/{{assembl_user}}/$SQL"_mysql"$DATE.sql.gz
 
fi
 
done